apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Chart.Name }}-network-policy
  namespace: rag-engine
spec:
  podSelector:
    matchLabels:
      {{- include "common.labels" . | nindent 6 }}
  policyTypes:
  - Ingress
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            name: ingress-nginx
      ports:
      - protocol: TCP
        port: 80
  - Egress
  - to:
      - namespaceSelector:
          matchLabels:
            name: default
      ports:
      - protocol: TCP
        port: 5432
      - protocol: TCP
        port: 6379
      - protocol: TCP
        port: 6333
